In [1]:
import numpy as np
import pandas as pd 
import matplotlib as plt

In [2]:
df = pd.read_csv("file.csv", delimiter=",")
df

   234  2
0  671  5
1  735  1
2  264  2
3  346  7